version: "3.9"

services:
  redis:
    image: redis:7.2
    container_name: redis-prod
    restart: always
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    networks:
      - backend-net

volumes:
  redis-data:

networks:
  backend-net:
    driver: bridge
